/* style css */

div{
    width: 500px;
}

h1{
    background-color: #acc4ce;
    opacity: .9;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #878787;
    text-align: center;
    padding-bottom: 4px;
}

span{
    color: #395075;
    letter-spacing: 10px;
    font-family: "Arial", sans-serif;
    font-style: italic;
}

p{
    color: gray;
    font-size: 14px;
    line-height: 20px;
    text-indent: 20px;
    font-family: "Verdana", sans-serif;
    
}